
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;
    background-image: url(../images/background.jpg);
    background-postion: center;

    font-family: sans-serif;
}
.menu-bar
{
    background: lightseagreen;
    text-align: left;
    border: 2px solid white;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li
{
    width: 120px;
    padding: 15px;
    border: 2px solid white;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: #fff;
}
.active
{
    background:lightseagreen;
}
.menu-bar ul li:hover
{
    background: #2bab0d;
}
.logout_button
{
    width: 120px;
    height: 80px;
    padding: 15px;
    border: 2px solid white;
    background: lightseagreen;
    text-align: center;
    color:white;
    font-size: 16px;
    font-family: sans-serif;
}
.logout_button:hover
{
    background: #2bab0d;
}
.window_name
{
    height: 80px;
    padding: 15px;
    border: 2px solid white;
    background: lightseagreen;
    text-align: center;
    color:white;
    font-size: 16px;
    font-family: sans-serif;
}
.window_name:hover
{
    background: #2bab0d;
}
.windows
{
    width: 120px;
    height: 80px;
    padding: 15px;
    border: 2px solid white;
    background: lightseagreen;
    text-align: center;
    color:white;
    font-size: 16px;
    font-family: sans-serif;
}
.windows:hover
{
    background: #2bab0d;
}
.profile-main-container{
    width: 800px;
    height: 95px;
    background-image: linear-gradient(to right,#deeaee,#FFFECF,#C3EBF9,#C2F5CF,#FFFECF);
    border: 5px solid green;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
}
.profile-main-container p
{
    font-size: 50px;
    margin-top: 10px;
}
.container-for-goods{
    width: 800px;
    height: 75px;
    background-image: linear-gradient(to right,#deeaee,#FFFECF,#C3EBF9,#C2F5CF,#FFFECF);
    border: 5px solid green;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 50px;
    text-align: center;
}
.list {
    float: left;
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
}
.date {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    float: right;
    margin-right: 40px;
}
.date input[type="submit"]
{
    margin-top: 20px;
    border: none;
    outline: none;
    height: 40px;
    width: 240px;
    margin-right: 75px;
    background: #fb2525;
    color: #fff;
    font-size: 15px;
    border-radius: 20px;

}
.date input[type="submit"]:hover
{
    curson: pointer;
    background: #ffc107;
    color: #000;
}
.container {
    width: 800px;
    height: 200px;
    background-image: linear-gradient(to right,#deeaee,#FFFECF,#C3EBF9,#C2F5CF,#FFFECF);
    border: 5px solid green;
    margin: 0 auto;
    margin-top: 5px;
}
.image {
    height: 190px;
    width: 250px;
    border-right: 5px solid green;
    float:left;
}

.containerForText {
    float:center;
    text-align: center;
    margin: 15px;
}
.containerForPrice {
    background-color: yellow;
    float: center;
}
.price {
    float: right;
    font-weight: bold;
    margin-top: 15px;
}
.description {
    margin-top: 50px;
    font-size: 12px;
}
.purchase {
    margin-top: 10px;
}
.purchase input {
    width: 110px;
    border: solid 2px green;
}

.modify-container input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    width: 240px;
    margin-right: 75px;
    background: #fb2525;
    color: #fff;
    font-size: 15px;
    border-radius: 20px;
    float: right;
}
.modify-container input[type="submit"]:hover
{
    curson: pointer;
    background: #ffc107;
    color: #000;
}
.phones
{
    width: 800px;
    height: 95px;
    background-image: linear-gradient(to right,#deeaee,#FFFECF,#C3EBF9,#C2F5CF,#FFFECF);
    border-left: 5px solid green;
    border-bottom: 5px solid green;
    border-right: 5px solid green;
    margin: 0 auto;
    margin-top: 0px;
    font-size: 50px;
    text-align: left;
}
.text_phones
{
    margin-left: 25px;
    font-size: 40px;
    padding-top: 20px;
    float: left;
}
.list_of_phones
{
    float: right;
    font-size: 20px;
    padding-right: 100px;
    padding-top: 15px;
}
.modify-container
{
    width: 800px;
    height: 95px;
    background-image: linear-gradient(to right,#deeaee,#FFFECF,#C3EBF9,#C2F5CF,#FFFECF);
    border-left: 5px solid green;
    border-bottom: 5px solid green;
    border-right: 5px solid green;
    margin: 0 auto;
    margin-top: 0px;
    font-size: 50px;
    text-align: left;
}
.modify-container p
{
    font-size: 20px;
    padding-top: 30px;
    padding-left: 30px;
}
.last-container
{
    width: 800px;
    height: 95px;
    background-image: linear-gradient(to right,#deeaee,#FFFECF,#C3EBF9,#C2F5CF,#FFFECF);
    border-left: 5px solid green;
    border-bottom: 5px solid green;
    border-right: 5px solid green;
    margin: 0 auto;
    margin-top: 0px;
    font-size: 50px;
    text-align: left;
}
.last-container input[type="submit"]
{
    border: none;
    outline: none;
    height: 50px;
    width: 300px;
    margin-right: 75px;
    background: #fb2525;
    color: #fff;
    font-size: 15px;
    margin-left: 250px;
    border-radius: 30px;
}
.last-container input[type="submit"]:hover
{
    curson: pointer;
    background: #ffc107;
    color: #000;
}