<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <title>Sklep internetowy</title>
    <link rel="stylesheet" th:href="@{/css/shop_basket_page_css.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
<div class="menu-bar">
    <ul>

        <input class="window_name" type="submit" th:value="'Witaj w naszym sklepie: '+ ${firstName}"/>
        <form th:action="@{/logout}" method="post">
            <input class="logout_button" type="submit" value="Wyloguj się!"/>
        </form>
        <form th:action="@{/shopMainPage/ogrod}" method="post">
            <input class="windows" type="submit" value="Ogród"/>
        </form>
        <form th:action="@{/shopMainPage/gaming}" method="post">
            <input class="windows" type="submit" value="Gaming"/>
        </form>
        <form th:action="@{/shopMainPage/krzesla}" method="post">
            <input class="windows" type="submit" value="Krzesła"/>
        </form>
        <form th:action="@{/shopMainPage/koszyk}" method="post">
            <input class="windows" type="submit" value="Koszyk"/>
        </form>
        <div class="wrap">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="What are you looking for?">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </ul>
</div>
<div class="profile-main-container">
    <p th:if="${rows}">Twój koszyk jest pusty.</p>
    <p th:if="${!rows}">Przedmioty w Twoim koszyku.</p>
</div>
<form action="dodanie_do_koszyka.php" th:each="item : ${items}" method="post">
    <div class="container" >
        <div class="containerForImage">
            <img th:src="'../images/'+${item.imageName}" class="image">
        </div>
        <div class="containerForText">
            <p><u th:text="${item.itemName}"></u></p>
            <div class="price" th:text="'Cena za sztukę: '+${item.price}+'zł'"></div>
            <div class="description" th:text="${item.description}"></div>
            <div class="purchase">
<!--                <p>Zmień ilość tutaj: </p>-->
                <input type="number" min="0" step="1" th:value="${item.itemCountered}" name="ilosc" id="ilosc" placeholder="0">
            </div>
            <div class="okbutton">
                <input type="submit" value="DODAJ DO KOSZYKA!"/>
                <input type="hidden" name="id_produktu" th:value="${item.id}"/>
            </div>
        </div>
    </div>
</form>
<div th:if="${!rows}" class="pay-container">
    <p>Do zapłaty łącznie:</p>
    <form th:action="@{/shopMainPage/acceptBasket}" method="post">
        <input type="submit" name="akceptuj" value="ZAAKCEPTUJ TRANSAKCJĘ!"/>
    </form>
    <form th:action="@{/shopMainPage/deleteBasket}" method="post">
        <input type="submit" name="wyczysc" value="WYCZYŚĆ KOSZYK!"/>
    </form>
</div>
<br>
<br>
<br>
</body>
</html>